<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>商品レビュー機能作成</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="contents-wrap">
    <h1>商品レビュー</h1>
    <div class="table-wrap">
      <table class="table">
        <tr>
          <th>名前</th>
          <th>年齢</th>
          <th>評価☆</th>
          <th>理由</th>
        </tr>
        <% function isWelfare(num) { if(num===1) { return '有' ; } else { return '無' ; } } %>
          <% users.forEach(function (value) { %>
            <tr>
              <td>
                <%= value.username %>
              </td>
              <td>
                <%= value.age %>
              </td>
              <td>
                <%= value.rating %>
              </td>
              <td>
                <%= value.reason %>
              </td>
            </tr>
            <% }); %>
      </table>
    </div>
  </div>

</body>

<script>
  const formElement = document.querySelectorAll("input[required]");
  const errorText = document.querySelectorAll(".errortext");
  const formBtn = document.querySelector(".formbtn");

  // 必須項目
  for (let i = 0; i < formElement.length; i++){
    // 文字が入力されたとき
    // input→キー入力と同時にイベントが発生
    formElement[i].addEventListener("input", update);
    // change→Enterキーを押したときやフォーカスが外れたときにイベントが発生
    formElement[i].addEventListener("change", update);
    function update() {
    const isRequired = formElement[i].checkValidity();
      if (isRequired) {
        formBtn.disabled = false;
        formBtn.style.opacity = 1;
        formBtn.style.cursor = "pointer";
        return;
      }
    }
  }

  // バリデーションチェック
  function inputChange(event){
    // 名前
    if(formElement[0].value.match(/^[ぁ-ん一-龠a-zA-Z]*$/) || formElement[0].value  === ''){
      errorText[0].innerHTML = '';
    }else{
      errorText[0].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
    // ひらがな
    if(formElement[1].value.match(/^[ぁ-んー　]*$/) || formElement[1].value  === ''){
      errorText[1].innerHTML = '';
    }else{
      errorText[1].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
    // emeil
    if(formElement[3].value.match(/^[a-zA-Z0-9_+-]+(.[a-zA-Z0-9_+-]+)*@([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]*\.)+[a-zA-Z]{2,}$/) || formElement[3].value  === ''){
      errorText[3].innerHTML = '';
    }else{
      errorText[3].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
    // お住まいの住所
    if(formElement[4].value.match(/^[ぁ-ん一-龠0-9]*$/) || formElement[4].value  === ''){
      errorText[4].innerHTML = '';
    }else{
      errorText[4].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
    // 電話番号
    if(formElement[5].value.match(/^[0-9\-]+$/) || formElement[5].value  === ''){
      errorText[5].innerHTML = '';
    }else{
      errorText[5].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
  }
  formElement[0].addEventListener('blur', inputChange);
  formElement[1].addEventListener('blur', inputChange);
  formElement[3].addEventListener('blur', inputChange);
  formElement[4].addEventListener('blur', inputChange);
  formElement[5].addEventListener('blur', inputChange);

// 送信ボタンをクリック
console.log(formElement[2].checked)
  formBtn.addEventListener('click', function() {
    if(formElement[2].checked){
      console.log('aaaa')
      errorText[2].innerHTML = '';
    }else{
      console.log('bbb')
      errorText[2].innerHTML = '<span class="red">※入力にエラーがあります</span>';
    }
  }, false);




</script>
</html>