html { font-size: 62.5%; }
.contents-wrap{
  width: 80%;
  margin: 0 auto;
}
tr{
  font-size: 12px;
}
td{
  background: #FFFFFC;
  color: #464646;
  padding: 10px;
  font-size: 1.5rem;
}
th{
  background: #181B39;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}
h1 {
  display: flex;
  align-items: center;
  padding: .5em .7em;
  background-color: #f2f2f2;
  color: #333333;
}
h1::before {
  display: inline-block;
  width: 5px;
  height: 1.5em;
  margin-right: .5em;
  background-color: #010038;
  content: '';
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td{
  border: 2px solid #eee;
  text-align:center;
}
.table tr:nth-child(2n) td{
  background: #FBFBF6;
}
body{
  margin: 0 auto;
  min-width: 9rem;
}
.textbox, textarea{
  float: left;
  width: 100%;
  max-width: 100%;
  margin: 5px 0 20px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 2px solid #bdbdbd;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    color: #fff;
    width: auto;
    float: right;
  }
}
.formbtn{
  border-radius: 6px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #00730a;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border: none;
  }
.formbtn:disabled{
  opacity: .5;
}
.subtitle{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
.red{
  background-color: #ffc6c6;
  padding: 3px 6px;
  color: #f00;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* セレクトボックス */
.selectbox-wrap{
  text-align: right;
  margin: 20px 0;
}
.selectbox {
  position: relative;
}

.selectbox::before,
.selectbox::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
.selectbox::before {
  right: 0;
  display: inline-block;
  width: 3.6em;
  height: 3.6em;
  border-radius: 0 3px 3px 0;
  background-color: #006275;
  content: '';
}
.selectbox::after {
  position: absolute;
  top: 45%;
  right: 1.8em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: '';
}
.selectbox select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: 1px solid #006275;
  color: #044e58;
  font-size: 1.3em;
  cursor: pointer;
}
.selectbox select:focus {
  outline: 1px solid #006275;
}