html { font-size: 62.5%; }
.contents-wrap{
  width: 80%;
  margin: 0 auto;
}
tr{
  font-size: 12px;
}
td{
  background: #FFFFFC;
  color: #464646;
  padding: 10px;
  font-size: 1.5rem;
}
th{
  background: #181B39;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  font-size: 2rem;
}
h1 {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}
h1 {
  display: flex;
  align-items: center;
  padding: .5em .7em;
  background-color: #f2f2f2;
  color: #333333;
}
h1::before {
  display: inline-block;
  width: 5px;
  height: 1.5em;
  margin-right: .5em;
  background-color: #010038;
  content: '';
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td{
  border: 2px solid #eee;
  text-align:center;
}
.table tr:nth-child(2n) td{
  background: #FBFBF6;
}
body{
  margin: 0 auto;
  min-width: 9rem;
}
.textbox, textarea{
  width: 30%;
  max-width: 100%;
  margin: 5px 0 10px;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #110f2c;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
  &[type=submit] {
    color: #fff;
    width: auto;
    float: right;
  }
}
.formbtn{
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  display: block;
  letter-spacing: 0.05em;
  background: #006275;
  color: #fff;
  font-size: 18px;
  border: none;
  }
.subtitle{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 13px;
}
.red{
  background-color: #ffc6c6;
  padding: 3px 6px;
  color: #f00;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* セレクトボックス */
.selectbox-wrap{
  text-align: right;
  margin: 20px 0;
}
.sort,.rating {
  position: relative;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: 1px solid #006275;
  color: #006275;
  font-size: 1.3em;
  cursor: pointer;
}
.sort{
  margin-right: 10px;
}
.sort:focus,.rating:focus {
  outline: 1px solid #006275;
}
.agelist{
  width: 100%;
  text-align: center;
}
.agelist td{
  text-align:center;
  font-size: 14px;
}
.agelist td:nth-child(1){
  background: #ffa5a5;
  width: 30%;
}
.agelist td:nth-child(2){
  background: #ffe599;
  width: 60%;
}
.agelist td:nth-child(3){
  background: #7bffc9;
  width: 10%;
}
.form-wrap{
  text-align: center;
  background-color: #eeeeee;
  padding: 5px 0;
  margin: 5px 0;
}